.education {
    padding: 5vw 0;
    text-align: center;
    background-color: rgba($lightmauve, 0.3);
    margin-bottom: 5vw;

    &-box {
        margin: 3vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-info {

            h3,
            h2 {
                margin: 2px;
            }

            h2 {
                color: $russianviolet;
            }

            h3 {
                color: $violet;
            }

            hr {
                width: 25vw;
                background-color: $lightmauve;
                height: 1px;
                border: none;
            }


            ul {
                text-align: center;
                padding-top: 0;
                margin-top: 0;
                margin-left: 0;
                padding-left: 0;
            }

            li {
                text-decoration: none;
                list-style: none;
                font-weight: 600;
            }

        }


    }
}