.graphics {
    font-weight: 600;
    text-align: center;

    h1 {
        font-size: 32px;
        margin: 0 !important;
        padding: 10px;
    }

    h2 {
        font-size: 18px;
        margin: 20px;
    }

    p {
        margin-top: 3vw;
    }

    &-background {
        background-image: url(img/gradient2.png);
    }

    &-first {

        img {
            width: 50vw;
        }
    }

    &-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 4vw;

        img {
            width: 30vw;
            padding: 1px;
        }
    }

    &-box-last {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            width: 45vw;
            padding: 1px;
        }
    }

    &-church {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 4vw;

        img {
            width: 20vw;
        }
    }

    &-church-last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            width: 20vw;
            padding: 1vw;
        }
    }

    &-bit-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 4vw;

        img {
            width: 40vw;
            padding: 1vw;
        }
    }

    &-bit {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 4vw;

        img {
            width: 20vw;
        }
    }
}