@import "utilities";
@import "menu";
@import "about";
@import "portfolio";
@import "education";
@import "contact";
@import "responsive";
@import "graphics";

$font: 'Montserrat',
sans-serif;


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font;
    width: 100%;
}