html {
  scroll-behavior: smooth;
}

.overflow {
  padding: 0 !important;
  overflow: hidden !important;

}

body {
  background-color: rgba(243, 230, 255, 0.3);
  width: 100%;
  color: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  overflow-block: hidden;
}

/*---------------------------------Header--------------------------*/
nav {
  background-color: #333;
  color: white;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 1%;
  font-family: 'Montserrat', sans-serif;
}


li a:hover {
  /* Change the link color to #111 (black) on hover*/
  background-color: #111;
}

#header {
  width: 100%;
  height: 120px;
}

/*-----------------------------------About Me---------------------------*/

h1 {
  font-size: 38px;
}

.about-1 {
  text-align: center;
  padding-top: 5%;
}

.contact-btn {
  margin-top: 25%;
  ;
}

/*-----För alla hr-----*/
hr {
  margin-left: 35%;
  margin-right: 35%;
  background-image: url("/img/headerpur3.jpg");
  height: 3px;
  border: none;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  opacity: 0.6;
}

#about-image {
  background-color: rgb(183, 163, 253);
  border-radius: 15% 0 0 15%;
  padding: 5% 0;
  text-align: center;
  background-image: url("/img/headerpur3.jpg");
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  font-size: 18px;
}

#about-text {
  background-color: rgba(183, 163, 253, 0.05);
  border-radius: 0 15% 15% 0;
  padding: 5%;
}

.contact {
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 2%;
  font-size: 18px;
}

.Fannie {
  border-radius: 50%;
  margin-bottom: 1%;
}

.purpl-h2 {
  color: rgb(67, 33, 90);
  font-size: 26px;
  text-align: center;
}

.purpl-p {
  color: rgb(123, 70, 158);
  font-size: 16px;
  text-align: center;
}

/*------------Education-------*/

#education-box {
  background-color: rgba(183, 163, 253, 0.05);
  padding-top: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 10%;
  text-align: center;
}

.education-over {
  text-align: center;
  padding: 5% 0;

}


.education-hr {
  background-color: rgb(67, 33, 90);
  background-image: none;
  margin: 5% 20%;
  padding: 0;
  height: 1px;
}


.ul-education {
  list-style: none;
  text-align: center;
}


.link {
  text-decoration: none;
}

/*---------------------------Portfolio---------------------------*/

/*----Små pluttarna (HTML, JS)----*/
.code {
  border: 1px solid rgb(176, 117, 215);
  border-radius: 50px;
  width: 100%;
  color: rgb(176, 117, 215);
  padding: 1.5%;
  font-size: 12px;
}

h4 {
  font-weight: bold;
  color: rgb(67, 33, 90);
  padding-bottom: 0;
}

.business {
  color: rgb(123, 70, 158);
  padding: 0;
  margin: 0;
}


/*---------------------------Project 1------------------------*/

.project-over {
  text-align: center;
  margin-top: 5%;
  padding: 0;
}

.container-fluid {
  padding: 5% 20%;
}

#project-1 {
  text-align: left;
}

#project-2 {
  text-align: left;
}

#project-3 {
  text-align: left;
}

.imgBox {
  margin: 20% 15%;
  height: 210px;
  text-align: center;

}

.imgBox:hover {
  -moz-box-shadow: 0 0 20px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(123, 70, 158);
  opacity: 0.8;
}

/*--------Contact------------*/

#contact {
  background-image: url("/img/headerpur3.jpg");
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  border-radius: 15px;
  margin: 5% auto;
  width: 80%;
  margin-bottom: 2%;
  padding: 2% 15%;
  align-items: center;
  justify-content: center;
}

.contactinfo {
  text-align: center;
  margin-top: 5%;
  color: white;
}

.hr-contact {
  margin: 5% 20%;
  height: 1px;
  background-color: white;
  background-image: none;
  opacity: 0.5;
}

.contactinfo-ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contactinfo-ul i {
  padding-top: 3px;
  padding-right: 7px
}

.contactinfo-li {
  list-style-type: none;
  color: white;
  overflow: hidden;
  display: flex;
  font-size: 20px;
  text-align: center;
  min-width: 300px;
}

.contact-icons {
  list-style-type: none;
  overflow: hidden;
  color: white;
  text-align: center;
  font-size: 34px;
  padding: 0;

}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.contact-icons a:hover {
  background-color: transparent;
}

footer {
  text-align: center;
  font-size: 22px;
}

@media (max-width:900px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
  }


  nav {
    font-size: 12px;
  }


  /* About*/
  #about-image {
    border-radius: 10% 10% 0 0;
  }

  #about-text {
    border-radius: 0 0 10% 10%;
  }

  hr {
    margin-left: 20%;
    margin-right: 20%;
  }

  /*Education*/

  .education-box {
    padding: 1%;

  }

  .ul-education {
    padding-bottom: 10%;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  /* Porfolio*/
  .imgBox {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-left: 0;
  }


  /*Contact*/

  #contact h2,
  #contact h3 {
    font-size: 24px;
  }

  .contactinfo-li {
    font-size: 16px;
    padding-left: 40px;
  }

  footer {
    font-size: 16px;
  }
}