@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh
}

body {
    position: absolute;
    min-width: 100vw;
    font-family: Amatic SC;
    font-size: 5rem;
    color: white;
    background-color: black;
    overflow: hidden;
}

header {
    position: absolute;
    background-color: black;
    font-family: Amatic SC;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 60%;
}

.safe {
    display: block;
    margin: auto;
    text-align: center;
}

.displayCode {
    text-align: center;
    font-size: 50%;
    height: 70px;
    margin-top: 20%;
    background-color: #272727;
    padding: 10px;
}

.modal-text {
    text-align: center;
    font-size: 50%;
    height: 70px;
    margin-top: 20%;
    background-color: #272727;
    padding: 10px;
}

#backgroundImg {
    width: 100%;
}

.playAgain {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.sprites {
    position: absolute;
}


.btn {
    font-family: Amatic SC;
    color: white ;
    background: rgb(0, 153, 76);
    font-size: 2rem;
    padding: 0.5rem;
    box-shadow: 3px 3px black;
    outline: none;

}

.btn:active {
    background: grey;
    box-shadow: 1px 1px black;
}

.btn:hover {
    background: #5f5;
    color: white;
}

#eastBtn {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#westBtn {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#northBtn {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#southBtn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#roomDesc {
    font-size: 3rem;
    text-align: center;

}

.modal {
    font-family: Amatic SC;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.child {
    font-family: Amatic SC;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 600px;
    color: black !important;
    font-size: 26px;
    text-align: center;
    position: absolute;
    background: center/cover no-repeat;
    transform: translate(-50%, -50%);
}